<div class="container">
  <!-- TPV1 -->
    <!-- <h1>{{title}}</h1> -->
    <app-titre></app-titre>
<div class="content">
  <div class="bloc-gauche">
    <!-- TPV1 -->
      <!-- <h2>Personnes actives :</h2>
      <div >
        <ul >
          <li *ngFor="let info of users">{{info}}</li>
        </ul>
      </div> -->
      <app-affichage-users></app-affichage-users>
  </div>
  <div class="blocDroit">
    <div class="sup">
      <!-- TPV1 -->
        <!-- <ul>
          <li *ngFor="let message of messagesWithDates">
            <strong class="liSup">{{ message.user }} a écrit le {{ message.date | date:'EEE dd MMMM yyyy à HH:mm'}}:</strong><br><br>
            <span class="messages">{{ message.message }}</span><br>
          </li>
        </ul> -->
        <app-affichage-messages></app-affichage-messages>
  </div>
  <div class="inf">
    <h2>Nouveau message : </h2>
    <div class="blocDroitInf">
      <!-- TPV1 -->
        <!-- <label for="pseudo">De</label><br><br>
        <input type="text" id="pseudo" placeholder="Saisissez votre pseudo"><br><br>
        <label for="message" >Message</label><br>
        <textarea name="message" id="" cols="50" rows="5" placeholder="Saisissez votre message !"></textarea>
        <div class="btns">
          <button class="valider">Valider</button>
          <button class="Annuler">Annuler</button>
        </div> -->
        <app-formulaire></app-formulaire>
    </div>
  </div>
  </div>
  
</div>
</div>
